.dog-attribute-index {
  width: 50%;
  border-top: 1px solid black;
  align-items: center;
  padding: 12px 0;
}

.dog-attribute-index h3 {
  width: 50%;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.dog-attribute-index span {
  font-size: 11px;
}

.user-booking-index h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
